body{
    text-align: center;
    background-color: black;
}
img{
    height: 300px;
    width: 400px;
}
#you-light-up-my-life{
    height:100%;
    width: 100%;
}
#home{
    background-color: black;
}
html{
    scroll-behavior: smooth;
}
.menu{
    list-style: none;
    font-family: sans-serif;
    top: 0px;
    margin-top: 0px;
    z-index: 1;
    cursor: pointer;
    width: 100%;
}
.links{
    padding-left: 30px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    color: cornflowerblue;
    display: inline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
position: fixed;
    top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
#container{
background-color: black;
}