body{
    text-align: center;
    background-color: black;
}
img{
    height: 300px;
    width: 400px;
}
#you-light-up-my-life{
    height:100%;
    width: 100%;
}
ul{
    background-color: black;
    list-style-type: none;
  margin: 0;
  padding: 0;
    overflow: hidden;
    top: 0;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#home{
    background-color: black;
}
html{
    scroll-behavior: smooth;
}
.menu{
    list-style: none;o
    font-family: sans-serif;
    top: 0px;
    margin-top: 0px;
    z-index: 1;
    cursor: pointer;
    width: 100%;
}
.links{
    padding-left: 30px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    color: cornflowerblue;
    display: inline;
}